.App {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-image: url(./BG.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.App-logo {
  margin-top: 1rem;
  position: relative;
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

.transmision {
  height: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

iframe {
  background-color: transparent !important;
  margin: auto;
  padding: 3% 5% !important;
  width: 100%;
  height: 100%;
}
